/* .fullpage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
} */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}
.HomePage {
  display: flex;
  justify-content: center;
  width: 170vh;
  height: 70vh;
  align-items: center;
}
.homepage-hello {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.homepage-name {
  color: white;
  display: flex;
  justify-content: flex-end;
}
.homepage-role {
  color: white;
  display: flex;
  justify-content: flex-start;
}
